<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <a href="{{ url_for('home') }}" class="logo center">CONVERT</a>
        <nav class="center">
            <a href="{{ url_for('currency-codes') }}" class="center">Currency Codes</a>
        </nav>
    </header>   
    <main>
        <section id="form-wrapper" class="center">
            {% block content %}
            {% endblock %}
        </section>
        <section id="message-wrapper" class="center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{category}} center">{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </section>
    </main>
</body>
</html>